<link rel="stylesheet" href="user/css/profile.client.stylesheet.css">

<div class="navbar navbar-default navbar-fixed-top" ng-class="!navCollapsed && 'fullHeightNavbar'" data-ng-controller="MainController as mainCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" ng-class="navCollapsed && 'collapsed'"
                    ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-lg fa-comment"></i> <span class="hidden-xs">WebChat</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-class="!navCollapsed && 'in fullHeight'">
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-show="mainCtrl.Authentication.isLoggedIn()"><a data-ng-href="/users/{{mainCtrl.Authentication.getUser().username}}">
                    <img data-ng-src="{{mainCtrl.Authentication.getUser().profile_pic}}" class="img-circle small-profile-pic pull-left hidden-xs">
                    <i class="fa fa-user fa-fw"></i>&nbsp; {{mainCtrl.Authentication.getUser().firstName}}</a></li>
                <li><a href="/postings"><i class="fa fa-bullhorn fa-fw"></i>&nbsp; Postings</a></li>
                <li data-ng-hide="mainCtrl.Authentication.isLoggedIn()"><a href="login"><i class="fa fa-sign-in fa-fw"></i>&nbsp; Login</a></li>
                <li data-ng-hide="mainCtrl.Authentication.isLoggedIn()"><a href="signup"><i class="fa fa-user-plus fa-fw"></i>&nbsp; Signup</a></li>
                <li data-ng-show="mainCtrl.Authentication.isLoggedIn()"><a data-ng-href="" class="pointer"
                                                                           data-ng-click="mainCtrl.logout()"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="row profile">
                <div class="col-xs-4 col-sm-12">
                    <img data-ng-src="{{profileCtrl.profile.profile_pic}}" class="profile-pic img-circle img-responsive">
                </div>
                <div class="col-xs-8 col-sm-12">
                    <p class="font-24" data-ng-bind="profileCtrl.profile.fullName"></p>
                    <p> <i class="fa fa-map-marker text-danger"></i> <span>Rochester, NY</span> </p>
                    <p class="hidden-xs"> <i class="fa fa-envelope-o text-info"></i> <span data-ng-bind="profileCtrl.profile.email"></span> </p>
                    <div>
                        <button class="btn btn-primary btn-xs" data-ng-click="profileCtrl.sendFriendRequest()"
                                data-ng-show=" !profileCtrl.isThisMyProfile && ( !(profileCtrl.friendRequestStatus.friend_status >= 0) || ( profileCtrl.friendRequestStatus.friend_status === 2 &&
                                profileCtrl.Authentication.getUser().username === profileCtrl.friendRequestStatus.action_user.username) )">Add friend</button>

                        <div class="btn-group" uib-dropdown>
                            <button uib-dropdown-toggle  class="btn btn-primary btn-xs" data-ng-show=" !profileCtrl.isThisMyProfile && profileCtrl.friendRequestStatus.friend_status == 1">Friend's <span class="caret"></span></button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li role="menuitem"><a data-ng-href="">Unfriend</a></li>
                            </ul>
                        </div>

                        <div class="btn-group" uib-dropdown>
                            <button uib-dropdown-toggle  class="btn btn-primary btn-xs" data-ng-show=" !profileCtrl.isThisMyProfile && ( profileCtrl.friendRequestStatus.friend_status === 0 &&
                                (profileCtrl.Authentication.getUser().username === profileCtrl.friendRequestStatus.action_user.username) )">Friend request sent <span class="caret"></span></button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li role="menuitem"><a data-ng-href="">Cancel request</a></li>
                            </ul>
                        </div>

                        <div class="btn-group" uib-dropdown>
                            <button uib-dropdown-toggle class="btn btn-primary btn-xs" data-ng-show="profileCtrl.friendRequestStatus.friend_status == 0 &&
                                profileCtrl.Authentication.getUser().username !== profileCtrl.friendRequestStatus.action_user.username ">Respond to friend request <span class="caret"></span></button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li role="menuitem" class="pointer"><a data-ng-href="" data-ng-click="profileCtrl.acceptFriendRequest()">Accept request</a></li>
                                <li class="divider"></li>
                                <li role="menuitem" class="pointer"><a data-ng-href="" data-ng-click="profileCtrl.rejectFriendRequest()">Reject request</a></li>
                            </ul>
                        </div>

                        <button class="btn btn-primary btn-xs" data-ng-hide="profileCtrl.isThisMyProfile">Like profile</button>
                        <button class="btn btn-primary btn-xs" data-ng-show="profileCtrl.isThisMyProfile">Edit profile</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row profile-stats text-center">
                <div class="col-xs-3">
                    <p> <i class="fa fa-3x fa-users text-primary"></i> </p>
                    <h3> 200 </h3>
                    <p class="text-muted hidden-xs"> Friends </p>
                </div>
                <div class="col-xs-3">
                    <p> <i class="fa fa-3x fa-bullhorn text-success"></i> </p>
                    <h3 data-ng-bind="profileCtrl.userPostings.length"> </h3>
                    <p class="text-muted hidden-xs"> Posts made </p>
                </div>
                <div class="col-xs-3">
                    <p> <i class="fa fa-3x fa-thumbs-o-up fa-flip-horizontal text-info"></i> </p>
                    <h3> 200 </h3>
                    <p class="text-muted hidden-xs"> Likes received </p>
                </div>
                <div class="col-xs-3">
                    <p> <i class="fa fa-3x fa-thumbs-o-up text-warning"></i> </p>
                    <h3> 200 </h3>
                    <p class="text-muted hidden-xs"> Likes given </p>
                </div>
            </div>

            <div class="postings">
                <div data-ng-repeat="posting in profileCtrl.userPostings" class="posting">

                    <div class="media">
                        <div class="media-left">
                            <a data-ng-href="/users/{{posting.creator.username}}">
                                <img class="media-object medium-profile-pic" data-ng-src="{{posting.creator.profile_pic}}" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a data-ng-href="/users/{{posting.creator.username}}" data-ng-bind="posting.creator.fullName"></a>
                            </h4>
                            <p data-ng-bind="posting.created | date:'fullDate' "></p>
                        </div>
                    </div>
                    <div>
                        <img data-ng-src="{{posting.image}}" class="posting-image">
                    </div>
                    <p data-ng-bind="posting.content"></p>
                    <div class="row text-primary">
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Share</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Comment</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
