<div class="container signUpContainer">
    <div class="banner text-center">
        <div><i class="fa fa-4x fa-film"></i></div>
        <h1>Sign up for Actorsdb</h1>
    </div>
    <form role="form" name="signUpCtrl.form" data-ng-submit="signUpCtrl.signUp(signUpCtrl.form.$valid)" novalidate>
        <div class="form-group">
            <input type="text" name="firstName" data-ng-model="signUpCtrl.user.firstName"
                   placeholder="Enter first name" class="form-control" autocomplete="off"
                   required data-ng-minlength="2" >
            <input type="text" name="lastName" data-ng-model="signUpCtrl.user.lastName"
                   placeholder="Enter last name" class="form-control" autocomplete="off"
                   required data-ng-minlength="2" >
            <input type="text" name="username" data-ng-model="signUpCtrl.user.username"
                   placeholder="Enter username" class="form-control" autocomplete="off"
                   required data-ng-minlength="6" >
            <input type="password" name="password" data-ng-model="signUpCtrl.user.password"
                   placeholder="Enter password" class="form-control" autocomplete="off"
                   required data-ng-minlength="6" >
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                <input type="submit" name="submit" id="submit" value="Sign up" class="btn goBtn btn-block " >
            </div>
            <div class="col-xs-6">
                <input type="button" name="reset" id="reset" value="Reset Form" data-ng-click="signUpCtrl.resetForm()" class="btn goBtn btn-block">
            </div>
        </div>

        <div class="form-group large-vertical-top-margin text-center">
            <hr/>
            <a href="/login" class="dotted-underline">Already have an account? Login</a>
        </div>
    </form>
</div>
